CompileFlags:
  Add:
    - -I
    - native/include
    - -I
    - native/src
    - -I
    - native/csrc
---
If:
  PathMatch: .*\.(cu|cuh)$
CompileFlags:
  Add:
    - -x
    - cuda
    - --no-cuda-version-check
    - -Wno-unknown-cuda-version
    - -Xclang=-fcuda-allow-variadic-functions
